.header {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  border-bottom: 2px solid black;
  align-items: center;
  width: 100%;
}
input[type=submit] {
  padding: 10%;
  border: 10% solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 100%;
}
div.buttons {
  display: flex;
  justify-content: space-around;
}
.socials__twiter, .socials__facebook, .socials__instagram {
  width: 20%;
}


.chapter-info {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  font-size: 150%;
}

.info-chunk { /* main grid */

}

.about-us {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  height: min-content;
  margin: 5px;
  border-bottom: 2px solid black;
}
.pic {
  width: 100%;
  height: min-content;
}
.about-us__text {
margin: 2%;
}


.house {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  height: min-content;
  margin: 5px;
  border-bottom: 2px solid black;
}
.house__info {
  margin: 3px;
}

img.house {
  float: inline-end;
  width: 50%;
 }
